<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="/abc/css/main.css" rel="stylesheet" />
</head>

<body>
    <form action="/admin/add-product" method="POST">
        <p>
            <label>Nombre del Producto</label>
            <input type="text" name="name" />
        </p>
        <p>
            <label>Precio</label>
            <input type="number" name="price" />
        </p>
        <p>
            <label>Descripcion</label>
            <textarea name="description"></textarea>
        </p>
        <p>
            <label>Codigo</label>
            <input type="number" name="price" />
        </p>
        <p>
            <label>Imagen</label>
            <input type="text" name="imageUrl"></textarea> />
        </p>




        <button type="submit">Submit</button>
    </form>
</body>

</html>